.wrapper {
    width: 100%;
    max-width: 100%;
    margin-top: -4rem;
}

.label {
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 600;
}

.anime-item {
    display: flex;
    padding: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.thumbnail {
    width: 5rem;
    height: 7rem;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
    overflow: hidden;
}

.name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.views {
    font-size: 1.4rem;

    span {
        color: rgb(45, 179, 81);
    }
}

.even {
    background-color: #d9cfcf0e;
}
