.list-anime {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.anime-container {
    display: flex;
    width: 100%;
    height: 10rem;
    margin-bottom: 3rem;

    .thumbnail {
        height: 100%;
        width: 25%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .update-btn,
    .delete-btn {
        height: 2rem;
        margin-right: 1rem;
    }
}

.anime-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    overflow: overlay;
    flex: 1;

    .anime-name {
        font-weight: 600;
    }
}
