.list-anime {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    max-height: 150rem;
    overflow: overlay;
}

.anime-container {
    display: flex;
    width: 100%;
    height: 10rem;
    margin-bottom: 3rem;
    cursor: pointer;

    .thumbnail {
        height: 100%;
        width: 25%;
        object-fit: cover;
        border-radius: 1rem;

        &:hover {
            opacity: 0.5;
        }
    }

    .update-btn,
    .delete-btn {
        width: 5rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }

    .update-btn {
        background-color: rgb(80, 190, 80);
    }

    .delete-btn {
        background-color: rgb(216, 39, 39);
    }
}

.anime-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    overflow: overlay;
    flex: 1;

    &:hover {
        opacity: 0.5;
    }

    .anime-name {
        font-weight: 600;
    }

    .rate-icon {
        display: none;
    }
}

.home-page-custom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
    grid-auto-rows: 28rem;
    margin-top: 0;

    .anime-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #1b1b1b;

        .thumbnail {
            display: block;
            width: 100%;
            height: 83%;
            border-radius: 0;
        }

        .anime-info {
            display: block;
            margin-left: 0.5rem;
            padding-bottom: 0.5rem;
            overflow: hidden;
            position: relative;
            line-height: 1.6rem;

            .anime-name {
                color: #44e2ff;
                font-size: 1.4rem;
                width: 100%;
                margin-top: 0.5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
                display: block;
            }

            .rate,
            .views {
                font-size: 1.2rem;
                display: inline;
                color: #fff;
                font-weight: bold;
            }

            .views {
                position: relative;
                left: 68%;
            }

            .rate-icon {
                display: inline;
                position: relative;
                top: 0.3rem;
            }
        }

        .delete-btn,
        .update-btn {
            display: none;
        }
    }
}
